@use "./scss/base/base-dir";
@use "./scss/components/components-dir";
@use "./scss/utilities/utilities-dir";

/* set up basic structure for all main containers */
body {
  font-family: base-dir.$font-stack;
}

#container {
  width: 100%;

  overflow-x: hidden;
  position: relative;

  border-left: 5px solid #000;
  border-right: 5px solid #000;

  margin: auto;

  @include utilities-dir.phone {
    width: 100%;
  }

  @include utilities-dir.tablet-portrait {
    width: 100%;
  }

  @include utilities-dir.tablet-landscape {
    width: 100%;
  }

  @include utilities-dir.desktop {
    max-width: 1000px;
  }
}

#weather-app-container {
  min-height: 40vh;
  height: 50%;
  width: 100%;

  z-index: 2;

  position: relative;

  background-color: #00ffff;
}

#landscape-container {
  width: 100%;

  z-index: 2;

  position: relative;

  background-color: green;

  #result-area-container {
    width: 100%;

    z-index: 100;
    position: relative;
  }
}

footer {
  padding: 5px;

  font-size: 20px;
  text-align: center;

  background-color: #000;
  color: #fff;
}